.topcontent {
    margin-top: -210px;

}

.navbar-collapse a {
    text-decoration: none;
}

.footer-column h5 {
    font-size: 20px;
}

.footer-logo img {
    margin-top: -24px;
    margin-left: 17px;
}

.main-footer .footer-social {
    margin-top: -12px;
    /* margin-left: -20px; */
}

.list a {
    text-decoration: none;
    margin-left: -20px;
}

.topcontent h3 {
    font-size: 30px;
    font-weight: 650;
}

.topcontent h5 {
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.4;
}

.certificate {
    position: relative;
}

.certificateicon {
    position: absolute;
    top: 0;
    margin-top: 140px;
    text-align: center;
    display: flex;

    /* margin-left: 105px; */

}

.certificate-class {
    margin-left: 165px;

}

.certificate-class .col-lg-2 {
    width: 18%;
}

.certificateicon h3 {
    color: white;
    text-wrap: wrap;
    margin-top: 12px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 600;

}

.sec-title h2 {
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 35px;
    color: white;

}

.certificate .bg-image {
    background-color: rgba(43, 42, 42, 0.836);
    height: 370px;

}

.producttitle h3 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600;
}

.productimage {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;

}

.product1 {
    max-width: 300px;
    border: 8px solid gray;
    border-radius: 8px 8px
}

.usablity {
    position: relative;
}

.usablity-title {
    position: absolute;
    margin-top: 45px;
    color: #cac3bb;
    margin-left: 37%;
    font-size: 35px;
    font-weight: 600;
    z-index: 1;
}

.usablityicon {
    position: absolute;
    top: 0;
    margin-top: 130px;
    /* margin-left: 20%; */
    text-align: center;
    display: flex;

}

.usablityicon h6 {
    color: white;
    text-wrap: wrap;
    margin-top: 12px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 600;

}

.usablity .bg-image {
    margin-top: 30px;
    /* height: 390px; */
}

.bg-image img {
    height: 390px;
}

.usablity-class {
    margin-left: 105px;
}

.main-footer {
    background-color: rgb(107, 105, 105);
    margin-top: 10px;
}

.downloadlink1 {
    margin-top: 10px;
}

.footer-social {
    margin-left: 24px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

}

.footer-bottom .text {
    padding: 0px 100px;
    font-size: 18px;
}

.documntry-film {
    padding: 0px 55px;
    margin-top: 10px;
}

.youtubevideo {
    border: 15px solid gray;
    border-radius: 10px;
}

.page-title:before {
    height: 27%;
}

.header-lower {
    top: 0;
    position: sticky;
    position: fixed;
    z-index: 1;
    background-color: rgb(99, 98, 98);
}

.paragraph {
    margin-top: 5%;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.6;
}

.profile-image {
    margin-top: -2%;
    margin-left: 60px;
}

.paragraph1 {
    /* margin-top: 25%; */
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.6;
}

.paragraph-title {
    font-weight: 600;
    font-size: 28px;
    margin-top: 35px;
}

.paragraph2 {
    margin-top: 35px;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.6;
}

.heading-title h3 {
    margin-top: 8.5%;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 10px 0px;
    /* margin-left: 50px; */

}

.heading-title {
    background-color: #cac3bb;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
}

.paragraph3 {
    margin: 0;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 600;
}

.paragraph-heading {
    font-size: 20px;
    font-weight: 700;
}

.unorderlist {
    margin-top: 40px;
}

.unorderlist li {
    list-style-type: disc;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;
    color: rgb(70, 67, 67);
    margin-left: 40px;
}

.achievement-image {
    border-radius: 15px;
}

.paragraph4 {

    font-size: 19px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.6;
}

.plants-image {
    margin-top: 5%;
    margin-left: 60px;
}

.quality-image {

    text-align: center;

}

.quality-image h5 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.catalogue-heading {
    font-size: 25px;
    font-weight: 600;
    margin-top: 60px;
}

.contact-form-area {
    margin-top: 50px;
    margin-left: -35px;
}

.contact-img {
    margin-left: 35px;
}

.contact-title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    /* margin-top: 40px; */
    margin-bottom: 5px;
}

.input, .btn-one {
    margin: 6px;
    font-size: 15px;
    letter-spacing: 1px;
}

input:focus {
    border: 2px solid rgb(189, 141, 53);
}

textarea:focus {
    border: 2px solid rgb(189, 141, 53);
}

input, textarea {
    border: 2px solid rgb(218, 218, 218);
}

.contact-map {
    margin-top: 30px;

}

.products-heading h2 {
    margin-top: 30px;
    font-weight: 600;
}

.card1 img {
    border: 10px solid gray;
    border-radius: 8px;
}

.card1 {
    padding: 20px;
    text-align: center;
}

.card1 h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.products-heading h2 {
    font-size: 40px;
}

.spcprodcuts {
    margin-top: 25px;
}

.overview {
    /* margin-top: 200px; */
    /* padding: 40px; */
}
.overview h3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 120px;
}

.overview h5 {
    margin-top: 5px;
    max-width: 500px;
}

.quartzsurface {
    margin-top: 25px;
}

.quartz-stone-heading h2 {
    margin-top: 35px;
    font-size: 40px;
    font-weight: 600;
}

.advantage-parapraph {
    text-align: justify;
    text-align-last: center;
}

.advantage-parapraph h5 {
    margin-top: 25px;
}

.advantage-parapraph h2 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 30px;
}

.advantage-parapraph h5 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;
}

.advantage-card h3 {
    font-weight: 700;
    color: white;
    font-size: 24px;

}

.advantage-card h5 {
    font-size: 17px;
    font-weight: 600;
    color: white;
    line-height: 1.4;
    margin-top: 8px;

}

.advantage-card {
    background-color: rgb(59, 60, 61);
    padding: 25px;
}

.main-container {
    margin-top: 35px;
}

.quartz-paragraph h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 55px;
}

.quartz-paragraph h5 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.quartz-paragraph ul {
    font-size: 17px;
    font-weight: 600;
    /* list-style-type: disc; */
}

.quartz-paragraph ul li {
    list-style-type: disc;
    color: rgba(49, 47, 47, 0.87);
}

.bg-image-enchance {
    position: relative;
    margin-top: 40px;
}

.bg-image-enchance .bg-img1 {
    height: 1100px;
}

.bg-imgae-enhance1 {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 80px;
    padding: 40px;
}

.bg-imgae-enhance1 h3 {
    font-size: 30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.925);
}

.bg-imgae-enhance1 img {
    margin-left: 150px;
    /* padding: 40px; */

}

.bg-imgae-enhance1-para {
    max-width: 500px;
    margin-left: -8px;
}

.bg-imgae-enhance1 h5 {
    font-size: 17px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.911);
    line-height: 1.3;
}

.bg-enhance-card {
    border: 2px solid whitesmoke;
    padding: 30px;
    text-align: center;
    margin: 0px 10px;
    height: 560px;
}

.bg-enhance-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.bg-enhance-card h5 {
    font-size: 17px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.911);
    padding: 15px;
    line-height: 1.4;
}

.main-bg-enhance-card {
    position: absolute;
    top: 0;
    margin-top: 30%;

}
.heading-faq h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}

.accordion {
    margin-top: 20px;
    border: 1px solid rgb(230, 227, 227);
}

.accordion-header .accordion-button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;


}

.accordion-body h5 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    padding: 5px;
    color: rgb(105, 102, 102)
}

.accordion-header .accordion-button:focus {
    box-shadow: 1px 1px rgb(230, 227, 227);
    /* border-color: none; */
}

.input1 {
    width: 290px;
    margin: 6px;
    font-size: 15px;
}

.textarea {
    width: 590px;
    margin: 6px;
    font-size: 15px;
}

.navigation li.active a {
    color: #da8e3c;
    font-weight: bold;
}

.spcproductimage {
    padding: 30px 0px;
    margin-top: 10px;
    margin-left: -30px;
}

.product-title h3 {
    font-size: 30px;
    margin-top: 60px;
    font-weight: 600;
}

.product-details h3 {
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
}

.contact-title1 {
    font-size: 30px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    margin-top: 20px;
    margin-bottom: 5px;

}

.contact-form-area1 {
    margin-top: 18px;
}

.contact-form-area1 {
    /* margin-top: 60px; */
    padding-top: 30px;
    margin-left: 80px;
}

.btn-class {
    padding: 0px 13px;
    margin-bottom: 100px;
}

.galaryimage {
    /* margin-left: -15%; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.spcinquiry-galaryimage.active,
.spcinquiry-galaryimage1.active {
    border: 7px solid gray;
    border-radius: 10px;
    padding: 5px;
}

.spcprodcuts a {
    text-decoration: none;
}

.logo-box-image {
    width: 80px;
    margin-top: -20px
}

.spcproductimage1 {
    padding: 5px;
    margin-top: 40px;
    margin-left: -30px;

}

.spcproductimage1 {
    border: 2px solid rgb(141, 139, 139);
    border-radius: 12px;
}

.product-details1 {
    margin: 10px;
    padding: 5px 20px;
    /* width: 30%; */
}

.product-details1 h3 {
    margin-top: 18px;
    font-weight: 600;
    font-size: 20px;

}

.spcinquiry-galaryimage1 {
    margin-top: 55px;
    margin-left: 50px;
}

.quartzsurface a {
    text-decoration: none;
}

.quart-icon {
    color: green;
    font-size: 18px;
    margin-left: 8px;
}

.fa-xmark {
    color: red;
    font-size: 18px;
    margin-left: 6px;
}

.btn-one {
    width: 83%;
}

.btn-class1 {
    width: 100%;
}


@media screen and (max-width: 375px) {

    .footer-bottom {
        justify-content: center;
    }

    .footer-bottom .text {
        padding: 0px 0px;
    }

    .profile-image {
        margin-left: 17px;
    }

    .paragraph, .paragraph1, .paragraph2, .title-h4, .paragraph-title {
        padding: 6px;
        margin-top: 1%;
    }

    .footer-logo img {
        margin-top: -80px;
        margin-left: 78px;

    }

    .footer-social {
        margin-left: 0px;
    }

    .main-footer .service-widget {
        margin-left: 18px;
    }

    .subscribe-wideget {
        margin-left: 18px;
    }

    .contact-widget {
        margin-top: 35px;
        margin-left: 18px;
    }

    .main-footer .footer-top {
        padding-bottom: 0px;
    }

    .heading-title h3 {
        margin-top: 25%;
    }

    .header-lower .container {
        display: flex;
    }

    .logo-box-image {
        margin-top: 0px;
    }

    .main-menu {
        margin-top: 14px;
    }

    .documntry-film {
        margin-top: 0px;
    }

    .profile-image1 {
        margin-left: 60px;
    }

    .catalogueclass img {
        width: 70px;
    }

    .catalogue-heading {
        margin-top: 18px;
    }

    .contact-form-area {
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px 15px 0px 5px;
    }

    .input, .btn-one {
        margin: 6px 0px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .contact-img {
        margin-left: 0px;
    }

    .btn-one {
        width: 100%;
    }

    .contact-title {
        font-size: 30px;
    }

    .btn-class1 {
        width: 100%;
    }

    .galaryimage {
        flex-direction: row;
        justify-content: center;
    }

    .spcproductimage {
        padding: 30px 5px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .product-title h3 {
        margin-top: 0px;
    }

    .certificateicon {
        margin-left: 0px;
    }

    .certificate-class {
        margin-left: 0px;

    }

    .usablity-class {
        margin-left: 0px;
    }

    .bg-imgae-enhance1 img {
        margin-left: 60px;
    }

    .main-bg-enhance-card .row {
        margin-left: 28px;
    }

    .quartz-image-footer {
        width: 100%;
    }

    .quartz-contact-footer {
        margin-left: 0px;
    }

    .textarea {
        width: 340px;
        margin: 6px;
        font-size: 15px;
    }

    .contact-form-area1 {
        padding: 10px;
        padding-top: 0px;
        margin-left: 0px;
    }

    .sec-title h2 {
        font-size: 25px;
    }

    .certificateicon .row {
        margin-top: -30px;
    }

    .certificate .bg-image {
        height: 1250px;
    }

    .certificate-class .col-lg-2 {
        width: 80%;
        padding: 15px 0px;
        margin-left: 42px;

    }

    .quartz-stone-heading h2 {
        font-size: 28px;
    }

    .usablity-title {
        margin-left: 38px;
        font-size: 30px;
    }

    .bg-image img {
        height: 1350px;
    }

    .usablityicon {
        justify-content: center;
    }

    .usablity-class .col-lg-2 {
        padding: 10px 0px;
    }

    .main-bg-enhance-card .row {
        margin-top: 590px;
    }

    .bg-image-enchance .bg-img1 {
        height: 3000px;
    }

    .bg-enhance-card {
        margin: 15px;
    }

    .bg-imgae-enhance1 h3 {
        font-size: 28px;
    }

    .bg-imgae-enhance1-para {
        margin-left: 0px;
    }
    .main-bg-enhance-card .row{
        margin-left: 0px;
    }
    .bg-imgae-enhance1-para{
        padding: 10px 20px;
    }
    .overview h3 {
        margin-top: 0px;
    }
    .card1 {
        padding:10px 20px;
    }
    .input1 {
        width: 340px;
    }
    .btn-class2{
        margin: 6px;
    }
    .contact-title{
        margin-top: 30px;
    }

}
