.paragraph{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-top: 30px;

}
.main-footer{
    background-color: currentColor;
}
.heading-title{
    background-color: rgb(231, 220, 205);
    padding: 4px 0px;
    border-radius: 0px 0px 15px 15px;

}
.heading-title h2{
    font-size: 25px;
    font-weight: 600;
    color: rgb(71, 70, 70);
}
.profile-heading{
    font-size: 20px;
}
.heading1{
    font-size: 26px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.heading3{
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.all-page-side-image{
    width: 80%;
    margin: auto;

}
.youtubevideo{
    border: 10px solid gray;
    border-radius: 10px;
}
.core-heading{
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.paragraph1{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.unorderlist li{
    list-style-type: disc;
    margin-left: 40px;
}
.paragraph2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin-top: 25px;
    line-height: 1.6

}
.award-title{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;

}
.award-image{
    height: 190px;
    border-radius: 10px;
}

.quality-image-title1{
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}
.products-heading P{
    font-size: 35px;
    font-weight: 600;
    color: rgba(54, 54, 54, 0.671);
    margin-top: 30px;
    margin-bottom: 30px;
}
.card1{
    margin: 0px 20px;
}
.card1 img{
    /* margin-top: 20px; */
    border: 10px solid gray;
    border-radius: 10px;
}
.card1 p{
    font-size: 23px;
    font-weight: 600;
    padding: 10px 0px;
    color: rgb(82, 80, 80);

}
.galaryimage{
    margin-top: 85px;

}
.galary-mini-image{
    width: 35%;
    height: 120px;
    margin: 30px 0px;
    margin-left: 100px;
}
.spcinquiry-galaryimage.active,
.spcinquiry-galaryimage1.active {
    border: 7px solid gray;
    border-radius: 10px;
    padding: 5px;
}
.spcproductimage {
    width: 85%;
    height: 460px;
}
.spcproductimage1{
    display: none;
}
.first-image{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.productr-information{
    margin-top: 60px;
}
.product-details{
    margin-top: 20px;
}
.product-details h3 {
    font-size: 22px;
    font-weight: 600;
}
.product-details p {
    font-size: 19px;
    margin-bottom: 20px;
}
.contact-form-area1{
    margin-top: 40px;
}
.product-title h3{
    font-weight: 600;
    font-size: 30px;
}
.btn-class1{
    width: 100%;
}
.btn-class{
    padding: 0px 15px;
}
.overview{
    margin-top: 100px;
}
.overview p{
    max-width: 500px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-top: 10px;
}
.surface-image{
    margin-top: 40px;

}
.surface-image img{
    margin-left: 40px;
}
.overview h3{
    font-size: 35px;
    font-weight: 600;
}
.certificate{
    background-color: rgb(31, 31, 31);
    margin-top: 40px;
}
.sec-title{
   padding-top: 30px;
}
.sec-title h2 {
    font-weight: 600;
    font-size: 35px;
    color: white;
    margin-bottom: 60px;

}
.certificate-class img{
    width: 45%;
    margin: auto;
}
.certificate-class h3{
    color: white;
    text-wrap: wrap;
    margin-top: 12px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.certificate-class{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

}
.quartz-stone-heading h3{
    font-size: 40px;
    font-weight: 600;
    padding: 40px;
}
.certificate1{
    background-color: rgb(31, 31, 31);
    margin-top: 40px;
}
.tp-banner{
    max-height: 500px;
}
.quality-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.quality-image .col-md-4{
    padding: 0px 50px;
}
.advantage-parapraph h3{
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.advantage-card{
    background-color: rgb(59, 60, 61);
    padding: 25px;

}
.advantage-card1{
    background-color: rgb(31, 31, 31);
    padding: 25px;

}
.advantage-card1 h3,p{
    color: whitesmoke;
    font-weight: 600;
    line-height: 1.6;

}
.advantage-card h3,p{
    color: whitesmoke;
    font-weight: 600;
}
.main-container{
    margin-top: 30px;
}
.quartz-paragraph{
    margin-top: 40px;
}
.quartz-paragraph h3{
    font-weight: 600;
    font-size: 30px;
}
.quartz-paragraph1 li{
    list-style-type: disc;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 17px;

}
.bg-image-enchance{
    background-color: rgb(59, 60, 61);
}
.bg-img1{
    width: 70%;
    margin: auto;
    margin-top: 50px;

}
.bg-image-title{
    color: whitesmoke;
    font-weight: 600;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 15px;
}
.card3{
    max-width: 550px;
}
.main-bg-enhance-card{
    margin-top: 40px;
}
.bg-enhance-card{
    border: 2px solid whitesmoke;
    text-align: center;

}
.bg-enhance-card img{
    width: 30%;
    margin: 20px;
}
.bg-enhance-card h3{
    color: whitesmoke;
    font-weight: 600;
}
.panel-group a{
    text-decoration: none;
}
.contact-title{
    font-size: 35px;
    font-weight: 600;
}
.text p{
    font-size: 18px;
    font-weight: 600;
    color: #666666;
    margin-top: 10px;
}
.heading-faq{
    margin-top: 30px;
    margin-bottom: 20px;
}
.heading-faq h2{
    font-weight: 600;
    font-size: 35px;
}
.input1{
    border: 2px solid #dfdfdf;
}
.textarea{
    border: 2px solid #dfdfdf;
}
.contact-details-form{
    margin-top: 35px;
    margin-bottom: 40px;
}
.contact-form-area{
    margin-top: 50px;
}
.quartzinquiry-image{
    border: 10px solid gray;
    border-radius: 8PX;
    margin: 40px 10px;
}
.carousel-control.right,
.carousel-control.left {
    background: transparent;
}

